[Unit]
Description=sanoid snapshot process
Documentation=man:sanoid(1)
Requires=zfs.target
After=zfs.target
ConditionPathIsDirectory=/sys/module/zfs
ConditionFileNotEmpty=/etc/sanoid/sanoid.conf

[Service]
Type=oneshot
ExecStart=/usr/bin/sanoid

CapabilityBoundingSet=CAP_SYS_ADMIN
NoNewPrivileges=yes
UMask=0077
ProtectSystem=full
ReadOnlyPaths=/
ReadWritePaths=/var/cache /var/run
ProtectHome=yes
PrivateTmp=yes
PrivateNetwork=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=none
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
SystemCallArchitectures=native
Environment=TZ=UTC

IPAddressDeny=any
DeviceAllow=/dev/zfs rw
